<div class="container">
    <div class="jumbotron">
        <h1>When push comes to pull</h1>
            <p>
            Staying connected with someone isn't about pushing content to a social network. It isn't about broadcasting photos to the world. It isn't about monthly Skype sessions.
            </p>
            <p>
            Staying connected with someone is about getting a taste for their life. It's about experiencing the physical space they inhabit and hearing the sounds they hear. It's about getting a window into someone's life. It's about glimpses.
            </p>
        <h2>Coming soon...</h2>
    </div>
</div>












