
<div class="container">

	<div class="jumbotron">
		<h1>What's hot right now</h1>
	        <p>M3 Wizard of Oz Experimentation</p>
            <img src="/images/preston.gif" />
            <img src="/images/adrian.gif" />
            <img src="/images/moritz.gif" />            
	        <p><br /><a class="btn btn-lg btn-primary" href="/m3" role="button">See Details from our low-fidelity experiments!</a></p>
	</div>
</div>

