<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>PSA</title>
	<link rel="stylesheet" href='/stylesheets/main.css'>
    <link rel="stylesheet" href='stylesheets/test.css'>

    <script src='javascript/jquery-1.11.0.min.js'></script>
    
</head>
<body>

<div class="header_wrap">
	<div class="header">
		<h1>PSA</h1>
	</div>
</div>
<div class="nav">
	<div class="clickable about_us selected" id="people_nav">Our Team</div>
	<div class="clickable milestones" id="milestones_nav">Milestones</div>
	<div class="clickable glmpse" id="glmpse_nav">Glmpse</div>
</div>
<div class="people" id="people">
	<div class="person" id="preston">
		<div><span class="label">Name:</span> Preston Langholz</div>
		<div><span class="label">Interests:</span> Communication: "How do I quickly chat with my mom without committing to a full conversation? What do my smelly sandals say about me?"</div>
		<div><span class="label">Recent Research:</span> Recently discovered, through thorough user studies and rapid prototyping, that mustache or no mustache, girls just aren't attracted to him.</div>
	</div>

	<div class="person" id="adrian">
		<div><span class="label">Name:</span> Adrian Sierra</div>
		<div><span class="label">Interests:</span> Communication: "How do i get the hell out of this lame party? I want to leave with someone but I don't know who else wants to leave. Also, how do I lie effectively? I can't keep track of all my lies and I don't want them to conflict with each other."</div>
		<div><span class="label">Recent Accomplishments:</span> Recently won the first ever Noble Prize in Design for creating and conducting the first ever B/A test. It had never been done.</div>
	</div>

	<div class="person" id="moritz">
		<div><span class="label">Name:</span> Moritz Sudhof</div>
		<div><span class="label">Interests:</span> Communication: "Are my colorful pants and awesome vest jacket giving off the right impression? I may have a sweet sense of style, but i still care about connecting families and empty-nest parents."</div>
		<div><span class="label">Recent Controversy: </span> Moritz was recently arrested for ideating in public. After leaving a German football game, he was stopped for holding up traffic because he was "brainstorming a new idea for a sidewalk that could handle all the fan foot traffic." </div>
	</div>
</div>


<div class="milestones" id="milestones">
	<div class="large_list">
		<h2><a href="/m1">Milestone 1</a></h2>
	</div>
	<div class="large_list">
		<h2><a href="/m2">Milestone 2</a></h2>
	</div>
</div>

<div class="glmpse" id="glmpse">
	<h1>COMING SOON</h1>
</div>



</body>
</html>