
<div class="container">

	<div class="jumbotron">
		<h1>What's hot right now</h1>
	        <p>M4</p>
            <img src="/images/preston.gif" />
            <img src="/images/adrian.gif" />
            <img src="/images/moritz.gif" />            
	        <p><br /><a class="btn btn-lg btn-primary" href="/m5" role="button">Introduction & Methods for this week's user testing</a></p>
	</div>
</div>

