
<div class="container">

    <img width="100%" src="/images/glmpse-poster.jpg" />

	<div class="jumbotron">
        <h1><img src="/images/glmpse_icon.png" /> glmpse</h1>
        <h4>glmpse enables intimate and delightful interactions by letting you request short videos from those you love. Take control of staying connected with the people you love. Get the interactions you want, when you want them.</h4>
	</div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <iframe width="560" height="315" src="//www.youtube.com/embed/KMvue3VRn4M" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-2"></div>
    </div>
    
    <div class="img-rounded proj">
        <h2>Materials</h2>

        <h3>Poster</h3>
        <p>Download the hi-res poster <a href="https://drive.google.com/file/d/0ByC3q-eme3ZDb3JDYkhRS0V0c1E/edit?usp=sharing">here</a></p>

        <h3>Source code</h3>
        <p>Grab our source code as of June 3rd <a href="https://drive.google.com/file/d/0ByC3q-eme3ZDUFpmUUF2QTlQekk/edit?usp=sharing">here</a> </p>

        <h3>A compilation of glmpses from testing</h3>
        <p>See <a href="https://www.youtube.com/watch?v=-vmgdOV6bEs">here</a></p>
    </div>
    
</div>

