
<div class="container">
	<div class="jumbotron">
		<h1>What's hot right now</h1>
	        <p>M2 Storyboards!</p>
	        <p><a class="btn btn-lg btn-primary" href="/m2" role="button">View M2 Storyboards</a></p>
	</div>
</div>

