

<div class="container">
	<div class="jumbotron"><h1>Milestone 1</h1></div>
</div>

<div class="container">

	<div class="img-rounded proj">
		<h1> Projects </h1>
		<div class="projects" id="projects">
			<div class="entry">
				<h3>Keep Your Lies in Line</h3>
				<p>An application where users can document the lies they tell so that when producing a new lie, they can reference previous lies to make sure their stories do not conflict</p>
				<h5>More Coming Soon</h5>
			</div>
			<div class="entry">
				<h3>10 Seconds or Less</h3>
				<p>An application that senses when users are at their computer. Although they may be preoccupied and not in the mood for a full conversation, other users can see that they are at their computer and they can begin a video chat that closes after 10 seconds. A video chat between two users cannot be opened more than once a day.</p>
				<h5>More Coming Soon</h5>
			</div>
			<div class="entry">
				<h3>Let's Get Out of Here</h3>
				<p>We all want to leave the boring party, but i don't want to say it out loud, that would be rude. Instead, under the veil of anonymity, I make known that I want to leave the party, and can coordinate with others who want to leave the party. Can be generalized to any <em>taboo</em> activity.</p>
				<h5>More Coming Soon</h5>
			</div>
			<div class="entry">
				<h3>Virtual Cork</h3>
				<p>A projection on a wall or the refrigerator in your parents home where you can virtually leave messages and notes for them to see when they come home or walk by. </p>
				<h5>More Coming Soon</h5>
			</div>
		</div>
	</div>

	<div class="img-rounded proj">
		<h1> Interests </h1>
		<div class="interest" id="interest">
			<div class="entry">
				<h3>Connecting Remote Families</h3>
				<h5>Topics Include</h5>
				<ul>
					<li>Virtual Message Board: leave messages for your loved ones as if you stopped by and left a note</li>
					<li>Family Band: the family gets together via web and composes a song together to a provided background beat</li>
					<li>Interactive Family Portait: Each face is bright or not depending on what they're doing or where they are</li>
					<li>Remote Controlled Statue: Something the kids cannot remotely active and move around so the mom comes home and can see that "her kids had been there."</li>
				</ul>
			</div>
			<div class="entry">
				<h3>Communicating Politely</h3>
				<h5>Topics Include</h5>
				<ul>
					<li>How do I respectfully decline an offer?</li>
					<li>How do I politely exit a conversation?</li>
					<li>How do I deliver bad news?</li>
				</ul>
			</div>
			<div class="entry">
				<h3>Limited Availability</h3>
				<h5>Topics Include</h5>
				<ul>
					<li>I can talk, but I only have 2 minutes. Make it quick. </li>
					<li>"Can't you see I'm busy? Do not approach me." </li>
				</ul>
			</div>
			<div class="entry">
				<h3>Subtle Communication</h3>
				<h5>Topics Include</h5>
				<ul>
					<li>Without talking out loud, users can communicate their desires and see who shares them. "Who else wants to leave this party?.."</li>
					<li>How do I read between the lines into what this person is saying. "Do they <em>actually</em> want me to come to dinner with them? Or are they just being polite?"<li>
				</ul>
			</div>
			<div class="entry">
				<h3>Deception</h3>
				<h5>Topics Include</h5>
				<ul>
					<li>Something to help a user keep track of lies so that they don't get caught in conflicting stories.</li>
					<li>Something to help generate an excuse as to why you can't make it to a boring lecture your friend is giving</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="img-rounded proj">
		<h1> Brainstorming </h1>
		<div class="img-thumbnail"><img src="images/brainstorming.JPG" width="500px"/> </div>
		<div class="img-thumbnail"><img src="images/brainstorming2.JPG" width="250px"/> </div>
		<div class="img-thumbnail"><img src="images/white_board.JPG" width="500px"/> </div>
	</div>

</div>
