<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>PSA</title>
	<link rel="stylesheet" href='/stylesheets/main.css'>
    <link rel="stylesheet" href='stylesheets/m1.css'>

    <script src='javascript/jquery-1.11.0.min.js'></script>
    <script src='javascript/m1.js'></script>
    
</head>
<body>

<div class="header_wrap">
	<div class="header">
		<h1><a href='/'>PSA</a></h1>
		<h2>Milestone 2</h2>
	</div>
</div>

<div class="project">
	<h1>Virtual Cork</h1>
	<div class="wrapper">
		<div class="description">
			<p>Virtual Cork is a virtual message board that sits on the wall in your kitchen. Your remote friends and family members can leave notes, post drawings, and draw on each other's drawings to let you know that they are thinking about you. </p>
		</div>
		<h2>Story Board</h2>
	</div>
</div>

<div class="project">
	
	<h1>Story Center</h1>
	<div class="wrapper">
		<div class="description">
			<p>Story Center is a .... </p>
		</div>
		<h2> Story Board</h2>
	</div>
</div>


<div class="project">
	<h1>Glmpse</h1>
	<div class="wrapper">
		<div class="description">
			<p>A picture says a thousand words, and a four second video says a lot more than that. In a world where we push our media and updates into our friends inboxes and news feeds, Glmpse allows you to pull some of that information from your friends by requesting a glmpse of what is going on their life. </p>
		</div>

		<h2>Story Board</h2>
			<img width="1108px" height="859px" src="images/glmpseStoryBoard.JPEG"/>
		<h3>Use Case</h3>
			<h4>Old high school friends now off at different colleges.</h4>
				<img width="1024px" height="750px" src="images/glmpseUserCase.JPEG"/>
	</div>
</div>



</body>
</html>