<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>PSA</title>
	<link rel="stylesheet" href='/stylesheets/main.css'>
    <link rel="stylesheet" href='stylesheets/m1.css'>

    <script src='javascript/jquery-1.11.0.min.js'></script>
    <script src='javascript/m1.js'></script>
    <link href='stylesheets/bootstrap.min.css' rel="stylesheet">
    <link href='stylesheets/bootstrap-theme.min.css' rel="stylesheet">
    
</head>
<body>

<div class="header_wrap">
	<div class="header">
		<h1><a href='/'>PSA</a></h1>
		<h2>Milestone 2</h2>
	</div>
</div>

<div class="project">
	<h1>Virtual Cork</h1>
	<div class="wrapper">
		<div class="description">
			<p>
				Staying connected with family across the world is about having a common forum for sharing the little things -- and having a bit of fun with it.
				Virtual Cork is a family message board that sits on your kitchen wall at home. It's a projection of a communal space accessible to everyone in the family. You can do two things: 1) post media, or 2) write and draw on whatever's already there. The Virtual Cork is collective, additive, and ever-changing. Some things stick around for a while; some things get erased or covered almost immediately. 
				(each virtual cork is also accessible via the web for those family members who can't have something huge and awesome like this on their wall)
			</p>
		</div>
		<h2>Story Board</h2>
	      <img class="img-rounded" height="750px" src="images/VirtualCorkStoryboard.png" />
	</div>
</div>

<div class="project">
	
	<h1>Bedtime Grimms</h1>
	<div class="wrapper">
		<div class="description">
			<p>
				Working parents don't always have the luxury of tucking their kid in at night. When they're traveling, they're not even on the same time zone. 

				Bedtime Grimms reframes bedtime story time to help working parents build an animated presence in their child's life. We embrace the performative nature of the bedtime story ritual and enable parents to create personalized bedtime stories by prompting parents to record goofy facial expressions or dramatic voices at key moments in the story. Each new story gets added to the child's library.
			</p>
		</div>
		<h2> Story Board</h2>
			<img class="img-rounded" height="750px" src="images/bedtime-story.jpeg"/>
	</div>
</div>


<div class="project">
	<h1>Glmpse</h1>
	<div class="wrapper">
		<div class="description">
			<p>A picture says a thousand words, and a four second video says a lot more than that. In a world where we push our media and updates into our friends inboxes and news feeds, Glmpse allows you to pull some of that information from your friends by requesting a glmpse of what is going on their life. </p>
		</div>

		<h2>Story Boards</h2>

		<h3>Before and after</h3>
			<img class="img-rounded" height="1000px" src="images/glmpseStoryBoard.JPEG"/>

		<h3>Use Case: parents away</h3>
			<img class="img-rounded" height="750px" src="images/glimpse-vacation.JPG"/>
		<h3>Use Case: cross-country friends</h3>
			<img class="img-rounded" height="750px" src="images/glmpseUserCase.JPEG"/>
		<h3>Use Case: son/daughter away</h3>
			<img class="img-rounded" height="750px" src="images/glimpse-admit.jpeg"/>
		<h3>Use Case: just messing around, having fun</h3>
	        <img class="img-rounded" height="750px" src="images/GlimpseOtherStoryboard.png" />
		<h3>Use Case: functional, information-based</h3>
	        <img class="img-rounded" height="750px" src="images/GlimpsePartyStoryboard.png" />
	</div>
</div>


    <script src="javascript/bootstrap.min.js"></script>

</body>
</html>