
<div class="container">
	<div class="jumbotron"><h1>Milestone 3</h1></div>
</div>

<div class="container">
	
	<div class="img-rounded proj">
		<h1>Quack</h1>
		<div class="wrapper">
			<p>
				How long does it take to send a text message? 10 seconds? It takes about just as long and feels about just the same as leaving a YouTube comment. We’re busy people but we spend 10 seconds leaving comments, reading comics, or watching ads all the time and we are no closer to the ones we love. Let’s use that time wisely.

				Quack is an application where you can request a 10-second video chat with a friend of yours. You are at your computer and so are they, why not see each other's face and maybe exchange some words or expressions. It's capped at 10 seconds to avoid the social weight that accompanies a video chat. 

			</p>
			<h4>Paper Prototype</h4>
		    <img class="img-rounded" height="500px" src="images/glmpseImage/QuackHome.JPG" />
		    <p> Quack Home screen. Friends list on the left, Request list on the right. </p>
		    <img class="img-rounded" height="500px" src="images/glmpseImage/QuackNewRequest.JPG" />
		    <p> The center of the screen is the action center, a request dialog appears to send a request to a friend. the user can specify when the request times out.</p>
			<img class="img-rounded" height="500px" src="images/glmpseImage/QuackHome2.JPG" />
			<p> The request list shows the new outgoing request that will time out in 3 minutes.</p>
		    <img class="img-rounded" height="500px" src="images/glmpseImage/QuackChat.JPG" />
		    <p> This is the chatting interface. The time is ticking down in the top right corner and the chat will end when time is up. </p>
 		    <img class="img-rounded" height="500px" src="images/glmpseImage/QuackHome3.JPG" />
 		    <p> After the chat, that user can no longer be contacted to Quack today, so they are currently unavaiable.</p>



		</div>
	</div>

	
	<div class="img-rounded proj">
		<h1>Glmpse</h1>
		<div class="wrapper">
			<p>A picture says a thousand words, and a four second video says a lot more than that. In a world where we push our media and updates into our friends inboxes and news feeds, Glmpse allows you to pull some of that information from your friends by requesting a glmpse of what is going on their life. </p>

			<h4>Paper Prototype</h4>
			<img class="img-rounded" height="500px" src="images/glmpseImage/GlmpseFriends.JPG" />
			<p> Friends list in Glmpse</p>
		    <img class="img-rounded" height="500px" src="images/glmpseImage/GlmpseRequest.JPG" />
		    <p> From your friends list, clicking on a name will bring up the request link to request a glmpse from them, with an optional accompanying message</p>
		    <img class="img-rounded" height="500px" src="images/glmpseImage/GlmpseInbox.JPG" />
		    <p> Your inbox is where your received glmpses are that you can watch.</p>
		    <img class="img-rounded" height="500px" src="images/glmpseImage/GlmpseRequests.JPG" />
		    <p> The requests page is where you can see all outgoing and incoming requests for glmpses and respond to your incoming ones. </p>
		    <img class="img-rounded" height="500px" src="images/glmpseImage/GlmpseRecord.JPG" />
		    <p> From your incoming requests, you can click to respond and the response is as simple as pointing your phone and hitting a big red record button. </p>







		</div>

		
	</div>
	<div class="img-rounded proj">
		<h1>Wizard of Oz Testing and Feedback</h1>
		<div class="wrapper">
			<p>We conducted some Wizard of Oz testing with pre-existing technologies, low-fidelity and paper prototypes and a little code scaffolding. The main purpose of our experimentation was to simulate the experience and flow of Quack and Glmpse.  </p>

			<h3> Here are some videos of our interactions: </h3>

			<a href="https://www.youtube.com/watch?v=kefyaCdIUGw">Moritz and Som Quacking (performing a 10-second chat).</a>
			</br>
			<a href="https://www.youtube.com/watch?v=nXbEowaiSvo">The Glmpse Som sent to his mother. </a>
			</br>
			<a href="https://www.youtube.com/watch?v=jucIC801r3c">Cathy Quacking with her brother but will technical difficulties. </a>
			</br>
			<a href="https://www.youtube.com/watch?v=PcPrMNz913Q">Jeff Quacking.</a>
			</br>
			<h3>Here are some audio recordings of conversations we had with our subjects both pre and post WoZ Testing</h3>
			</br>
			<a href="glmpseAudio/ChristofFacebook.wav">A short clip of Kristof pinpointing his disappointment with the Push practice of sharing information. </a>
			</br>
			<a href="glmpseAudio/Mario.m4a">Conversation with Mario about the pros and cons of short-length video impressions. </a>
			</br>	
			<a href="glmpseAudio/Kristof.m4a">Full conversation with Kristof about communcating with individuals that are far away, back home in Germany. </a>
			</br>	
			<a href="glmpseAudio/Sompt1.m4a">First half of conversation with Som about staying in touch with people through sporadic, short duration communication.</a>
			</br>
			<a href="glmpseAudio/Sompt2.m4a">Second half of conversation with Som.<a/>
			




		</div>

		
	</div>
</div>

