
<div class="container">
    <div class="jumbotron"><h1>Milestone 5: Glmpse User Testing</h1></div>
</div>

<div class="container">

    <div class="img-rounded proj">
        <h2>Introduction: Driving Questions and Hypotheses</h2>
        <p>
            <b>Questions</b><br />
                We want to know whether the app is useful and in what way it is useful. When test users have this app in their hands, in their daily lives, how do they use it, what do they user it for, and how frequently do they use it?
                <ul>
                    <li>How immediate is glimpse communication? How much time elapses before users respond to glimpse requests?</li>
                    <li>What do users take videos of to respond to the glimpse requests? How diverse are the glimpse videos produced, and what sort of information do they convey?</li>
                    <li>Do users request glimpses from other friends who are test users? If so, how frequently, and what do they aim to accomplish with a glimpse request? What do they want to receive from the user they are requesting a glimpse from, why, and are they satisfied with the response?</li>
                    <li>How symmetrical is this communication? E.g., will users be more likely to respond to a glimpse request or initiate one?</li>
                </ul>
            <b>Hypotheses</b><br />
                Test users will use the app to request, deliver, and receive short and playful-- but meaningful-- impressionistic videos. The majority of open glimpse requests will receive responses within less than 6 hours. Different users will find very different ways to use the 4-second video medium to satisfy the request, including wide ranges of facial expressions, video pans of surroundings, and spoken words, but each glimpse video will give an insight into the user's life or disposition in that moment. Users will request glimpses from other friends testing the app and communication traffic between test users will occur without external prompting (though it's important to note this requesting behavior won't be wholly organic as they know this is a test). Users will be quicker to initiate requests than to respond to them, but very few requests will go unanswered. 
        </p>    
    </div>  
    <div class="img-rounded proj">
        <h2>Methods</h2>
        <p>
            <ol>
                <li>Recruit pairs or triplets of test users who know and like each other. (It's imperative that each test user knows more than one other test user so there's someone for them to communicate with on the app.)</li>
                <li>Get each user set up with the app (involving preparing the right iOS certificates and the like), and over the next day, have the user respond to our glimpse request and have them send us a glimpse request. This ensures the test user has gotten familiar with the app and knows how it works. Then make sure the test user knows that his friends A and B are also on the app and encourage the user to test the app with these friends over the next few days.</li>
                <li>Let him loose and see what happens. Now we're just observing how users actually use the app.</li>
                <li>Use exit interviews and usage statistics to begin to answer the questions listed above.</li>
            </ol>
        </p>    
        <p>
            In parallel, we'll be running Facebook surveys targeting potential users (mothers, 20-somethings with siblings, people in relationships) to learn more about their communication habits and needs and to recruit potential test users for more wide-scale, high-volume testing in the future.
        </p>
    </div>  

</div>
