
<div class="container">
    <div class="jumbotron"><h1>Milestone 5: Glmpse User Testing</h1></div>
</div>

<div class="container">
    
    <div class="img-rounded proj">
        <h2>View our <a href="https://docs.google.com/presentation/d/19SzIERw8ICzjmQ3jri_9PeL-06zKr-2lf4KdHOUs_1o/edit#slide=id.g3856ccdd0_38">slide deck</a> summarizing user testing results.</h2> 
    </div>

    <div class="img-rounded proj">
        <h2>Introduction: Driving Questions and Hypotheses</h2>
        <p>
            <b>Questions</b><br />
                We want to know whether the app is useful and in what way it is useful. When test users have this app in their hands, in their daily lives, how do they use it, what do they use it for, and what do they gain by using it?
                <ul>
                    <li>What do users aim to accomplish by sending glmpse requests?</li>
                    <li>What is the value in a glmpse video?</li>
                    <li>What are the barriers to sending or responding to glmpse requests?</li>
                </ul>
            <b>Hypotheses</b><br />
                Test users will use the app to request, deliver, and receive short and playful-- but meaningful-- impressionistic videos. The majority of open glimpse requests will receive responses within hours. Different users will find very different ways to use the 4-second video medium to satisfy the request, including wide ranges of facial expressions, video pans of surroundings, and spoken words, but each glimpse video will give an insight into the user's life or disposition in that moment. Users will request glimpses from other friends testing the app and communication traffic between test users will occur without external prompting (though it's important to note this requesting behavior won't be wholly organic as they know this is a test).
        </p>    
    </div>  
    <div class="img-rounded proj">
        <h2>Methods</h2>
        <p>
            <ol>
                <li>Recruit pairs or triplets of test users who know and like each other. (It's imperative that each test user knows more than one other test user so there's someone for them to communicate with on the app.)</li>
                <li>Get each user set up with the app (involving preparing the right iOS certificates and the like), and over the next day, have the user respond to our glimpse request and have them send us a glimpse request. This ensures the test user has gotten familiar with the app and knows how it works. Then make sure the test user knows that his friends A and B are also on the app and encourage the user to test the app with these friends over the next few days.</li>
                <li>Let him loose and see what happens. Now we're just observing how users actually use the app.</li>
                <li>Use exit interviews and usage statistics to begin to answer the questions listed above.</li>
            </ol>
        </p>
    </div>
    <div class="img-rounded proj">
        <h2>Results</h2> 
    </div>
    <div class="img-rounded proj">
        <h2>Discussion</h2> 
    </div>    
    <div class="img-rounded proj">
        <h2>Appendix A: App usage data</h2>
        <p>
            To see a summary of app usage by test user, and to sample the kinds of glmpses shared, visit the <a href="http://glmpsewbvw.herokuapp.com/users">glmpse webview</a>.
        </p>
    </div>
    <div class="img-rounded proj">
        <h2>Appendix B: Need-finding Facebook Survey</h2>
        <p>
            We thought glmpse would be a great medium for moms to communicate with their children. Glmpse is a way for moms to prompt their children to share, and it's a low-friction way for the children to satisfy the mom's request for sharing. We designed a survey to help us understand how mothers currently communicate with their remote children and what needs they have. We targeted moms on Facebook who are older than 40 and use mobile phones. Unfortunately, we did not get many results to make any definitive claims. We spent $80 for 160 click-throughs, but only 12 moms actually completed the survey. Based on the responses, our initial findings are that although moms do report having to initiate communication more frequently, the majority of moms are satisfied with their current communication with their children (which happens mainly over the phone and through text messages). The communication need is not as pressing as we thought.
        </p>
    </div>

</div>
