
<div class="container">
    <div class="jumbotron"><h1>Milestone 7: Usertesting and Further Iteration</h1></div>
</div>

<div class="container">

    <div class="img-rounded proj">
        <h2>What glmpse needs...</h2> 
        <p>
            Right now, glmpse is a phenomenal request/response interaction. But the users deserve more out of glmpse. We want a complete, full, conversation through a glmpse interaction. We don't want users feeling cut-off or for them to have to use other mediums (text, phone, email) to complete an interaction that began on glmpse. 
            <br />
            For any given user, the glmpse app is really just a wrapper around glmpse video requests (incoming and outgoing) and a way to initiate, respond to, and view requests. The challenge is to organize and display the requests such that three things are immediately clear about each request:
            <ul>
                <li>Who is the requester and who is the provider?</li>
                <li>Has the request been fulfilled (i.e., is there a video attached to the request)?</li>
                <li>Does the request require the user's attention (because it's a new request from someone else or it's a request the user has spawned that now has received a response)?</li>
            </ul>
        </p>
    </div>

    

</div>


