
<div class="container">
    <div class="jumbotron"><h1>Milestone 7: Iterating</h1></div>
</div>

<div class="container">

    <div class="img-rounded proj">
        <h2>Design Implications</h2> 
        <p>
        There are a number of features we're planning to implement to address the problems we've found in user testing, and also just to explore further possibilities with Glmpse:
        
          <ul>
          
            <li>
              We need to find more ways to facilitate complete interactions. This means effectively closing the communication loop like we attempted with comments, and expanding the possible types of interactions. Allowing for multiple comments and a dedicated UI element for comments is the first step. We are continuing to collect feedback on this.
            </li>
            <br/>
            <li>
              To mitigate some issues with current text prompts, we are increasing the number and variety of suggested prompts, and organizing them by genre. These suggested prompts are a bit like emoji, in that each "smiley" is a kind of canned prompt sorted by type or aesthetic. A list of suggested prompts could also be populated by user-created prompts that are particularly fun. This would lower the barrier to entry for the requester who can't think of what to write.
            </li>
            <br/>
            <li>
              One-to-many glmpses. Users have consistently expressed the desire to have many people see the results of a single request. There are a few ways we can accomplish this:
                <ul>
                  <li>
                    Users can "cc" other people when making a request, so they also receive the response.
                  </li>
                  <li>
                    Users set video statuses that can be seen at will by others
                  </li>
                  <li>
                    Users can choose to many different requests with a single glmpse.
                  </li>
                </ul>
            </li>
            <br/>
            <li>
              While our current iteration of the homepage and general UI is a substantial improvement over the last, there are a few possibilities for major changes:
                <ul>
                  <li>
                    Adding a page that sorts glmpses and requests by friends. We had originally debated whether to make this our homepage, but settled on a feed that lists all requests/glmpses together.
                  </li>
                  <li>
                    Changing how the homepage displays each item. One possibility is to use thumbnails on the homepage to denote video responses. In order to use thumbnails of an appropriate size, we would have to drastically change where usersnames, prompts, and other indicators are placed, as well.
                  </li>
                </ul>
            </li>
          </ul>
        </p>
    </div>
    
</div>


