
<div class="container">
    <div class="jumbotron"><h1>Milestone 7: User testing and Further Iteration</h1></div>
</div>

    <div class="container">

      <div class="img-rounded proj">
        Slides: https://docs.google.com/presentation/d/1r3SylNBj6nwMH2MyL6_zwMsw30hycLztt_xUlGoF0pI/pub?start=false&loop=false&delayms=3000
        <br/>
        Consent form: https://drive.google.com/file/d/0B79PZKtPHAQrbjVKbEpxUFVMRUE/edit?usp=sharing
      </div>
    
      <div class="img-rounded proj">
        <h2>What glmpse needs...</h2> 
        <p>
            Right now, glmpse is a phenomenal request/response interaction. But the users deserve more out of glmpse. We want a complete, full, conversation through a glmpse interaction. We don't want users feeling cut-off or for them to have to use other mediums (text, phone, email) to complete an interaction that began on glmpse. 
            <br />
            With this in mind, we feel the need to enhance some aspects of our current design.
            <ul>
                <li>
                    Enhance the way glmpse requests are sent
                    <ul>
                        <li>allow users to send prompts with their requests</li>
                        <li>suggest certain prompts</li>
                        <li>allow users to see many different genres of prompts to choose from or gain inspiration from</li>

                    </ul>    
                </li>

                <li>
                    Close the loop: transform a simple request/response formula into a complete, fulfilling and satisfying interaction.
                    <ul>
                        <li>Allow the requester to leave a comment as feedback for the provider of the glmpse</li>
                        <li>Maybe this is not enough. Maybe we will allow a more open, less restrained dialogue to take place around a glmpse.</li>
                        <li>How do we best do this?</li>
                    </ul>
                </li>

                <li>
                    Acclimate and Orientate new members. a better onboarding experience
                    <ul>
                        <li>How do we best show a new user around the app to familiarize them with how to use it</li>
                        <li>We want to show them both experiences: requesting a glmpse and responding to one</li>
                    </ul>
                </li>

                <li>
                    glmpsing with more than one person at a time?
                    <ul>
                        <li>Users have suggested that a more complete experience would be had if you could glmpse 1-to-many</li>
                        <li>We could implement a feature where you can request a glmpse from a user on behalf of your friends. that way, the response gets sent to a group of people and you can all interact.</li>
                    </ul>
                </li>


            </ul>
        </p>
    </div>
    <div class="img-rounded proj">
      <h2>What glmpse will do...</h2>
      <h4>Design Implications</h4>
      <p>
      There are a number of features we're planning to implement to address the problems we've found in user testing, and also just to explore further possibilities with Glmpse:
      
        <ul>
        
          <li>
            We need to find more ways to facilitate complete interactions. This means effectively closing the communication loop like we attempted with comments, and expanding the possible types of interactions. Allowing for multiple comments and a dedicated UI element for comments is the first step. We are continuing to collect feedback on this.
          </li>
          <br/>
          <li>
            To mitigate some issues with current text prompts, we are increasing the number and variety of suggested prompts, and organizing them by genre. These suggested prompts are a bit like emoji, in that each "smiley" is a kind of canned prompt sorted by type or aesthetic. A list of suggested prompts could also be populated by user-created prompts that are particularly fun. This would lower the barrier to entry for the requester who can't think of what to write.
          </li>
          <br/>
          <li>
            One-to-many glmpses. Users have consistently expressed the desire to have many people see the results of a single request. There are a few ways we can accomplish this:
              <ul>
                <li>
                  Users can "cc" other people when making a request, so they also receive the response.
                </li>
                <li>
                  Users set video statuses that can be seen at will by others
                </li>
                <li>
                  Users can choose to many different requests with a single glmpse.
                </li>
              </ul>
          </li>
          <br/>
          <li>
            While our current iteration of the homepage and general UI is a substantial improvement over the last, there are a few possibilities for major changes:
              <ul>
                <li>
                  Adding a page that sorts glmpses and requests by friends. We had originally debated whether to make this our homepage, but settled on a feed that lists all requests/glmpses together.
                </li>
                <li>
                  Changing how the homepage displays each item. One possibility is to use thumbnails on the homepage to denote video responses. In order to use thumbnails of an appropriate size, we would have to drastically change where usersnames, prompts, and other indicators are placed, as well.
                </li>
              </ul>
          </li>
        </ul>
      </p>
    </div>
</div>


