

<div class="container">
    <div class="jumbotron"><h1>The Team</h1></div>
</div>


<div class="container">
    
    <div class="img-rounded proj">
        <img src="/images/preston.gif" />
        <img src="/images/adrian.gif" />
        <img src="/images/moritz.gif" />
    </div>
    
    <div class="img-rounded proj">
        <div class="person" id="preston">
            <div><b>Preston Langholz</b></div>
            <div><b>Communication:</b> "How do I quickly chat with my mom without committing to a full conversation? What do my smelly sandals say about me?"</div>
            <div><b>Recent News:</b> Recently discovered, through thorough user studies and rapid prototyping, that mustache or no mustache, girls just aren't attracted to him.</div>
        </div>
    </div>
    <div class="img-rounded proj">
        <div class="person" id="adrian">
            <div><b>Adrian Sierra</b></div>
            <div><b>Communication:</b> "How do i get the hell out of this lame party? I want to leave with someone but I don't know who else wants to leave. Also, how do I lie effectively? I can't keep track of all my lies and I don't want them to conflict with each other."</div>
            <div><b>Recent News:</b> Recently won the first ever Nobel Prize in Design for creating and conducting the first ever B/A test. It had never been done.</div>
        </div>
    </div>
    <div class="img-rounded proj">
        <div class="person" id="moritz">
            <div><b>Moritz Sudhof</b></div>
            <div><b>Communication:</b> "Are my colorful pants and awesome vest jacket giving off the right impression? I may have a sweet sense of style, but i still care about connecting families and empty-nest parents."</div>
            <div><b>Recent News:</b> Moritz was recently arrested for ideating in public. After leaving a German football game, he was stopped for holding up traffic because he was "brainstorming a new idea for a sidewalk that could handle all the fan foot traffic." </div>
        </div>
    </div>
</div>
