.nav div {
	display: inline-block;
}

.clickable {
	padding: 10px;
	font-size: 20pt;
	background-color: rgb(249,194,83);
	border-radius: 10px;
	margin: auto;
	text-align: center;
	width: 48%;
}

.header {
	width:50%;
	margin: auto;
	text-align: center;
}

.nav .selected {
	background-color: rgba(249,194,83,.5);
}

.people .person  {
	margin: 20px 0;

}

.label {
	font-weight: bold;
	font-size: 13pt;
	text-decoration: underline;
}

.interest .left_column, .interest .right_column {
	display: inline-block;
	width: 50%
}

.interest .left_column {
	float: left;
}

.interest {
	overflow: auto;
}

a, a:hover, a:active, a:visited {
	text-decoration: none;
	color: inherit;

}


.project .wrapper {
	border-radius: 10px;
	background-color:rgba(100,100,100,.1);
	margin: 20px;
	padding: 10px;
}